pkgbase = signal-desktop
	pkgdesc = Signal Private Messenger for Linux
	pkgver = 7.36.0
	pkgrel = 1
	url = https://signal.org
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = git-lfs
	makedepends = libxcrypt-compat
	makedepends = node-gyp
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libasound.so
	depends = libatk-bridge-2.0.so
	depends = libcairo.so
	depends = libcups
	depends = libdbus-1.so
	depends = libdrm
	depends = libexpat.so
	depends = libgio-2.0.so
	depends = libpango-1.0.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon.so
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	source = signal-desktop-7.36.0.tar.gz::https://github.com/signalapp/Signal-Desktop/archive/v7.36.0.tar.gz
	source = signal-desktop.desktop
	sha256sums = 82c9bafc5938de8269528abcf1e58d0e110c57593ea9d2cf7de81035057817d5
	sha256sums = bf388df4b5bbcab5559ebbf220ed4748ed21b057f24b5ff46684e3fe6e88ccce
	b2sums = 45bdd7683138d29975af526538ac145b466d8bbe51daed2631f2cbca58d728b0b94833b9cfe52f2b24891ca6340c55c31f61725d17b936528df8c5d6a5652c0d
	b2sums = ffb8f7bab4fd84aacf13e7b6d2835daf449b6650b4b3fa723456792ba7fb6cae352928fea11cb030510d558ce30036ff5a1513444f067b94c7fff0158b4f2265

pkgname = signal-desktop
