pkgbase = signal-desktop
	pkgdesc = Signal Private Messenger for Linux
	pkgver = 7.22.2
	pkgrel = 1
	url = https://signal.org
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = git-lfs
	makedepends = libxcrypt-compat
	makedepends = node-gyp
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libasound.so
	depends = libatk-bridge-2.0.so
	depends = libcairo.so
	depends = libcups
	depends = libdbus-1.so
	depends = libdrm
	depends = libexpat.so
	depends = libgio-2.0.so
	depends = libpango-1.0.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon.so
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	source = signal-desktop-7.22.2.tar.gz::https://github.com/signalapp/Signal-Desktop/archive/v7.22.2.tar.gz
	source = signal-desktop.desktop
	sha256sums = 4d957a37735ef05c36d76ede5370802c737d7b41309bd3e19b6178cc4bc921b5
	sha256sums = bf388df4b5bbcab5559ebbf220ed4748ed21b057f24b5ff46684e3fe6e88ccce
	b2sums = cfde7018915e2185be550ebf959850289246face2c852356ae07f697c546731e44ce8c97b40375c73b42167411c3e8b8cb2aa65c664684f39f87c5864e3eab4b
	b2sums = ffb8f7bab4fd84aacf13e7b6d2835daf449b6650b4b3fa723456792ba7fb6cae352928fea11cb030510d558ce30036ff5a1513444f067b94c7fff0158b4f2265

pkgname = signal-desktop
