pkgbase = signal-desktop
	pkgdesc = Signal Private Messenger for Linux
	pkgver = 7.4.0
	pkgrel = 1
	url = https://signal.org
	arch = x86_64
	license = AGPL-3.0-only
	makedepends = git
	makedepends = git-lfs
	makedepends = libxcrypt-compat
	makedepends = node-gyp
	makedepends = nodejs
	makedepends = npm
	makedepends = python
	makedepends = yarn
	depends = gcc-libs
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libasound.so
	depends = libatk-bridge-2.0.so
	depends = libcairo.so
	depends = libcups
	depends = libdbus-1.so
	depends = libdrm
	depends = libexpat.so
	depends = libgio-2.0.so
	depends = libpango-1.0.so
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon.so
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	source = signal-desktop-7.4.0.tar.gz::https://github.com/signalapp/Signal-Desktop/archive/v7.4.0.tar.gz
	source = dns-fallback-7.4.0.json::https://raw.githubusercontent.com/kpcyrd/signal-desktop-dns-fallback-extractor/7.4.0/dns-fallback.json
	source = signal-desktop.desktop
	sha256sums = 377ad6264cdaeebe154abd6de1178f62e983389f6a211ca3e36b201b5cf81515
	sha256sums = 49b78885f7b0747022d896aa128ac68306c49a4250f9cbe06e0b28c92d1647dc
	sha256sums = 913de2dc32db1831c9319ce7b347f51894e6fff0bf196118093a675dac874b91
	b2sums = 360142f704e3d6e9221d1072dc8249f6bc15cbfb9473d6de91a23a77039d423e0b7c3c7a4e5cd6c80b37c4ced0dc1a878a013d8f42972ce5cd9cbee3915b2ccf
	b2sums = e2befb5bf28a14cbfb5934b65fe8a53ad9eca81ae18c67f1c29c2613ffa57de1d8331edc5de3a340783b7fbbbcbd37b3e2da66df834443c263902536c72ad6af
	b2sums = e157cd0536b1b340c79385e99fcc27b9d48bef3c338562caaa78fe24bc7b8f00f6a757f6d4a47ee6c9e8c1138a1615dce7f1414dd1e6a9d1d06b682a7baa9130

pkgname = signal-desktop
